@media (max-width: 570px) {
  .carousel-inner {
    height: auto !important;
  }
}
@media (max-width: 560px) {
  .carousel-inner {
    height: auto !important;
  }
}
@media (max-width: 540px) {
  .carousel-inner {
    height: auto !important;
  }
}
@media (max-width: 520px) {
  .carousel-inner {
    height: auto !important;
  }
}

@media (max-width: 500px) {
  .carousel-inner {
    height: auto !important;
  }
}

@media (max-width: 480px) {
  .carousel-inner {
    height: auto !important;
  }
}
@media (max-width: 460px) {
  .carousel-inner {
    height: auto !important;
  }
}
@media (max-width: 440px) {
  .carousel-inner {
    height: auto !important;
  }
}
@media (max-width: 420px) {
  .carousel-inner {
    height: auto !important;
  }
}
@media (max-width: 400px) {
  .carousel-inner {
    height: auto !important;
  }
}

@media (max-width: 380px) {
  .carousel-inner {
    height: auto !important;
  }
}

@media (max-width: 360px) {
  .carousel-inner {
    height: auto !important;
  }
}
@media (max-width: 340px) {
  .carousel-inner {
    height: auto !important;
  }
}
@media (max-width: 320px) {
  .carousel-inner {
    height: auto !important;
  }
}
@media (max-width: 300px) {
  .carousel-inner {
    height: auto !important;
  }
}
